In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_df = pd.read_csv("movie data/movies.csv")

In [3]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
print(movies_df.info())
print(movies_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB
None
             movieId
count   10329.000000
mean    31924.282893
std     37734.741149
min         1.000000
25%      3240.000000
50%      7088.000000
75%     59900.000000
max    149532.000000

In [16]:
timestamp_columns = ['timestamp']
rating_df = pd.read_csv("movie data/ratings.csv",parse_dates= timestamp_columns)
rating_df.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [17]:
print(rating_df.info())
print(rating_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 3.2+ MB
None
              userId        movieId         rating
count  105339.000000  105339.000000  105339.000000
mean      364.924539   13381.312477       3.516850
std       197.486905   26170.456869       1.044872
min         1.000000       1.000000       0.500000
25%       192.000000    1073.000000       3.000000
50%       383.000000    2497.000000       3.500000
75%       557.000000    5991.000000       4.000000
max       668.000000  149532.000000       5.000000

In [6]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

In [18]:
# Merge dataframes on 'movie_id'
combined_df = pd.merge(movies_df, rating_df, on='movieId')

# Explore the combined data
print(combined_df.head())

   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating   timestamp
0       2     5.0   859046895
1       5     4.0  1303501039
2       8     5.0   858610933
3      11     4.0   850815810
4      14     4.0   851766286

In [48]:
# combined_df.to_csv('combined_datad.csv', index=False)

In [49]:
#combined_df.describe()

In [22]:
# get the counts of occurances of each movie title
movie_popularity = combined_df["title"].value_counts()

In [25]:
# inspecting the most common movie name title
movie_popularity.head().index

Index(['Pulp Fiction (1994)', 'Forrest Gump (1994)',
       'Shawshank Redemption, The (1994)', 'Jurassic Park (1993)',
       'Silence of the Lambs, The (1991)'],
      dtype='object')

In [56]:
# fining the mean of the ratings given to each title
average_rating_df = combined_df[["title","rating"]].groupby('title').mean()

In [57]:
print(average_rating_df.head())

                                         rating
title
'71 (2014)                                3.500
'Hellboy': The Seeds of Creation (2004)   3.000
'Round Midnight (1986)                    2.500
'Til There Was You (1997)                 4.000
'burbs, The (1989)                        3.125

In [58]:
# sorting the movies based on their rating to lowest
sorted_average_ratings = average_rating_df.sort_values(by='rating',ascending=False)

In [59]:
print(sorted_average_ratings.head(20))

                                                    rating
title
Saddest Music in the World, The (2003)                 5.0
Interstate 60 (2002)                                   5.0
Gunfighter, The (1950)                                 5.0
Heima (2007)                                           5.0
Limelight (1952)                                       5.0
Plague Dogs, The (1982)                                5.0
Love Me If You Dare (Jeux d'enfants) (2003)            5.0
Syrup (2013)                                           5.0
Interstella 5555: The 5tory of the 5ecret 5tar ...     5.0
Symbol (Shinboru) (2009)                               5.0
Friend Is a Treasure, A (Chi Trova Un Amico, Tr...     5.0
Memories (MemorÃ®zu) (1995)                             5.0
50 Children: The Rescue Mission of Mr. And Mrs....     5.0
Olive Kitteridge (2014)                                5.0
Switchblade Sisters (1975)                             5.0
Forbidden Zone (1980)                                  5.0
Possession (1981)                                      5.0
Swan, The (1956)                                       5.0
Lawless Heart, The (2003)                              5.0
Enigma of Kaspar Hauser, The (a.k.a. Mystery of...     5.0

In [60]:
# creating the list of only the frequently watched movies
movie_popularity = combined_df["title"].value_counts()
popular_movies = movie_popularity[movie_popularity >50].index

In [61]:
popular_movies

Index(['Pulp Fiction (1994)', 'Forrest Gump (1994)',
       'Shawshank Redemption, The (1994)', 'Jurassic Park (1993)',
       'Silence of the Lambs, The (1991)',
       'Star Wars: Episode IV - A New Hope (1977)', 'Matrix, The (1999)',
       'Terminator 2: Judgment Day (1991)', 'Braveheart (1995)',
       'Schindler's List (1993)',
       ...
       'Congo (1995)', 'Payback (1999)', 'French Kiss (1995)',
       'Bowling for Columbine (2002)', 'Craft, The (1996)',
       'League of Their Own, A (1992)', 'James and the Giant Peach (1996)',
       'Star Trek (2009)', 'Ronin (1998)',
       'Rumble in the Bronx (Hont faan kui) (1995)'],
      dtype='object', length=447)

In [62]:
# now lets filter out the most ranekd movies in the original dataset
popular_movies_rankings = combined_df[combined_df["title"].isin(popular_movies)]

In [63]:
# find out the average rating given to these frequently watched movies
popular_movies_average_rank = popular_movies_rankings[["title",'rating']].groupby('title').mean()

In [64]:
popular_movies_average_sorted = popular_movies_average_rank.sort_values(by="rating",ascending=False)

In [65]:
popular_movies_average_sorted.head()

                                            rating
title
Shawshank Redemption, The (1994)          4.454545
Citizen Kane (1941)                       4.396104
Godfather, The (1972)                     4.392857
Princess Mononoke (Mononoke-hime) (1997)  4.384615
Rear Window (1954)                        4.331081